.awesome-marker {
  background: url(pins/pins.png) no-repeat 0 0;
}

.awesome-marker-shadow {
  display: none;
}

.awesome-marker-icon-blue {
  background-position: 0 0;
}

.awesome-marker-icon-light-blue {
  background-position: -40px 0;
}

.awesome-marker-icon-purple {
  background-position: -80px 0;
}

.awesome-marker-icon-green {
  background-position: -120px 0;
}

.awesome-marker-icon-red {
  background-position: -160px 0;
}

.awesome-marker-icon-yellow {
  background-position: -200px 0;
}

.awesome-marker i {
  margin-top: 12px;
  display: block;
  font-size: 14px;
  margin-right: 0;
  text-align: center;
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
  color: #333;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  max-width: 300px;
}

.leaflet-popup-content .x-small.pull-left {
  margin-right: 5px;
}

