.progress-animation-started .progress-bar > div {
  background: #39a774;
  animation-fill-mode: forwards
  -webkit-animation: progress-bar 1s;
  -moz-animation: progress-bar 1s;
  animation: progress-bar 1s;
}
@-webkit-keyframes progress-bar {
  0% {
    width: 0;
  }
}
@-moz-keyframes progress-bar {
  0% {
    width: 0;
  }
}
keyframes progress-bar 0% {
  width: 0;
}

.progress-bar > div {
  height: 2px;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 10px;
}

.progress-animation-finished .progress-bar > div {
    background: #39a774;
}

.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.progress-bar {
  background-color: #E7E5E7;
  border-radius: 9px;
  width: 100%;
  height: 2px;
  margin-bottom: 25px;
  box-shadow: none;
}


/*.number {
  visibility: hidden;
}*/

.number.number-animation-started,
.number.number-animation-finished {
  visibility: visible;
}